tutorial-video {

  display: block;
  width: 600px;
  margin: 0 auto;

  h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px;
  }

  iframe {
    width: 600px;
    height: 400px;
  }

}