navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

}