#about {

  padding-bottom: 50px;

  p {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
    font-weight: 300;
  }

  img {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }

}