* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'common/directives/fullstack-logo/fullstack-logo';
@import 'common/directives/navbar/navbar';
@import 'about/about';
@import 'home/home';
@import 'login/login';
@import 'tutorial/tutorial';